{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="" method = 'POST'>{% csrf_token %}
            <p>prefecture : <input type="text" name = 'prefecture'></p>
            <p>spot_name : <input type="text" name = 'spot_name'></p>
            <p>travel_date : <input type="text" name = 'travel_date'></p>
            <p>stay_time : <input type="text" name = 'stay_time'></p>
            <p>useful_review_record : <input type="text" name = 'useful_review_record'></p>
            <p>青春 : <input type="number" name = 'user_value1'></p>
            <p>恋愛 : <input type="number" name = 'user_value2'></p>
            <p>バトル : <input type="number" name = 'user_value3'></p>
            <p>シリアス : <input type="number" name = 'user_value4'></p>
            <p>面白い : <input type="number" name = 'user_value5'></p>
            <input type="hidden" name = 'user_name' value = '{{ user.username }}'>
            <input type="submit" value = '作成'>
        </form>
    {% else %}
        ログインしてください
        <a href="{%url 'login'%}" class = 'btn btn-primary' role = 'button' aria-pressed = 'true'>ログイン</a>
    {% endif %}
{% endblock content %}
