{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class = 'container'>
{% for item in object_list %}
    <div class = 'card'>
        <h5 class = 'card-header'>{{ item.user_title }}</h5>
        <p><img src="{{item.user_Anime.anime_img.url}}" width = '300' alt=""></p>
        <h6 class = 'card-header'>{{ item.user_Anime.anime_title }} ({{ item.user_Anime.anime_title_abb }})</h6>
        <h6 class = 'card-header'>{{ item.user_Anime.anime_genre }}</h6>
        <h6 class = 'card-header'>{{ item.user_Anime.anime_corp }}</h6>
        <h6 class = 'card-header'>{{ item.user_Anime.anime_start }}</h6>
            <div class = 'card-body'>
                <h6 class = 'card-title'> {{ item.user_name }}</h6>
                <h6 class = 'card-title'> {{ item.user_review }}</h6>
                <h6 class = 'card-title'> {{ item.post_date }}</h6>
                <a href="{%url 'detail_review' item.pk%} " class = 'btn btn-primary'>詳細</a>
            </div>
    </div>
{% endfor %}
</div>
{% endblock content %}

